WSD_ESE/jokes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="jokes_xml">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="jokes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="category"/>
                            <xs:element type="xs:string" name="joke"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>