Lab_Assignment_4/employees_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="first_name"/>
                            <xs:element type="xs:string" name="last_name"/>
                            <xs:element type="xs:string" name="date_of_birth"/>
                            <xs:element type="xs:string" name="gender"/>
                            <xs:element name="employment_info">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="position"/>
                                        <xs:element type="xs:int" name="salary"/>
                                        <xs:element name="contact_info">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="email"/>
                                                    <xs:element type="xs:long" name="phone_no"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>